{% extends 'base.html.twig' %}

{% block title %}Réserve Stratégique{% endblock %}

{% block body %}
    <h1>Hello {{ controller_name }}</h1>
    <div class="alert alert-danger" role="alert">
        A simple primary alert—check it out!
    </div>
{% endblock %}
