{% extends 'base.html.twig' %}

{% block title %}Ajout commentaire{% endblock %}

{% block body %}
    <h1>Ajouter un commentaire</h1>
<div class="container">
    {{ include('comment/_form.html.twig') }}
</div>
{% endblock %}
