i:hover{
  cursor:pointer;
}

.hate-btn, .love-btn{
  a{
    color: $success;
  }
  a.active{
    color: $danger;
  }
}
.filter{
  display: block;

}
.corner{
  position: relative;
  right:-140px;
}
.card{
  position: relative;
  height: 300px;
  .card-footer{
    height: 50px;
  }
  button{
    border: none;
    background-color: white;
  }
  .card-footer{
    background-color: white;
  }
}
#autocompletion{
  border: 1px dashed $danger;
  margin-top: 0;
  li{
    list-style:none;
    cursor: pointer;
    &:hover{
      color: $secondary;
    }
  }
}
