{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1 class="mb-5">Ajout/Edition d'un produit</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Valider'}) }}

{% endblock %}
