{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}" role="alert">
            <span class="alert-{{ type }}">{{ message }}</span>
            {% if type == 'success' %}
                <i class="far fa-check-circle"></i>
            {% else %}
                <i class="fas fa-exclamation-triangle"></i>
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}
