{% extends 'base.html.twig' %}

{% block title %}Mes Favoris{% endblock %}

{% block body %}
   <h1 class="m-5">
       <i class="fas fa-heart  "></i>
       Mes favoris
       <i class="fas fa-heart  "></i>
   </h1>
    {% include '_components/_productList.html.twig' %}


{% endblock %}
