{% extends 'base.html.twig' %}

{% block title %}Mes produits{% endblock %}

{% block body %}
    <h1 class="m-5">Mes produits</h1>
    <div class="row">
        <div class="col-sm-3 text-left pl-2">
            {% include '_components/_filter.html.twig' with {form: form} only %}

        </div>
        <div class="col-sm-9">
            <div class="row">
            {% for product in products %}
                {% include '_components/_cardProduct.html.twig' with {product: product, comments: comments }  %}
            {% else %}
                <div> Pas encore de produits enregistrés ! Fonce en ajouter !</div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
